<!DOCTYPE html>
<html lang="en" ng-app="myRetailCaseStudy">
  <head>
    <title>myRetail Product Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/em-reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body ng-controller="myRetailController">

    <div>
      <alert ng-repeat="alert in alerts" type="alert.type" msg="alert.msg" close="alert.close()"></alert>
    </div>

    <nav class="myr-header" role="banner">
      <div class="myr-header__logo" aria-label="myRetail Logo">myRetail</div>
    </nav>

    <div class="tg">
      <div class="tg__logo"></div>
    </div>

    <div ppid-input ng-model="jason"></div>

    <div class="myr-base">
      <div class="myr-container">

        <div class="flex">

          <div class="flex__i--xs-12 flex__i--md-6">
            <div class="myr-item-name">
              <h1 data-id="product-title" class="myr-light">{{data.title}}</h1>
            </div>

            <img-carousel ng-if=data.Images images=data.Images></img-carousel>

          </div>

          <div class="flex__i--xs-12 flex__i--md-6">

            <div class="myr-cart-pricing">
              <strong data-id="product-price" class="myr-cart-pricing__price">{{data.Offers[0].OfferPrice[0].formattedPriceValue}}</strong> online price
            </div>

            <ul class="myr-item-promo">
              <li ng-repeat="promo in data.Promotions" data-icon="local_offer">
                {{promo.Description[0].shortDescription}}
              </li>
            </ul>

            <counter on-count-change="addCountToCart(newCount)"></counter>

            <div class="myr-cart-actions">
              <div class="flex">
                <div ng-if="data.purchasingChannelCode === '2' || data.purchasingChannelCode === '0'" class="flex__i--xs-12 flex__i--sm-6">
                  <button
                    ng-click="applyPurchase()"
                    class="myr-btn myr-btn--block myr-btn--secondary"
                  >PICK UP IN STORE</button>
                  <p class="myr-store-find"><strong>find in a store</strong></p>
                </div>
                <div ng-if="data.purchasingChannelCode === '1' || data.purchasingChannelCode === '0'" class="flex__i--xs-12 flex__i--sm-6">
                  <button
                    ng-click="applyPurchase()"
                    class="myr-btn myr-btn--block myr-btn--primary"
                  >ADD TO CART</button>
                </div>
              </div>
            </div>

            <div class="myr-rpolicy">
              <div class="myr-rpolicy__return">returns</div>
              <div class="myr-divider myr-divider--vertical myr-divider--light"></div>
              <div class="myr-rpolicy__disclaimer">This item must be returned within 30 days of the ship date. See return policy for details. Prices, promotions, styles and availability may vary by store and online.</div>
            </div>

            <div class="myr-additional-actions">
              <div class="flex">
                <div class="flex__i--xs-12 flex__i--sm-4">
                  <button class="myr-btn myr-btn--block myr-btn--sm">ADD TO REGISTRY</button>
                </div>
                <div class="flex__i--xs-12 flex__i--sm-4">
                  <button class="myr-btn myr-btn--block myr-btn--sm">ADD TO LIST</button>
                </div>
                <div class="flex__i--xs-12 flex__i--sm-4">
                  <button class="myr-btn myr-btn--block myr-btn--sm">SHARE</button>
                </div>
              </div>
            </div>

            <div class="myr-prd-hl">
              <div class="myr-prd-hl__title">product highlights</div>
              <ul class="myr-prd-hl__list">
                <li
                  ng-repeat="desc in data.ItemDescription[0].features"
                  ng-bind-html="renderHTML(desc)"
                  ></li>
              </ul>
            </div>

          </div>

        </div>

        <div class="flex">
          <div class="flex__i--xs-12 flex__i--md-6">
            <div class="myr-overall-rating">
              <div class="flex">
                <div class="flex__i--xs-6">
                  <star-rating ng-if=data.CustomerReview[0] rating=data.CustomerReview[0].consolidatedOverallRating></star-rating>
                  <span>overall</span>
                </div>
                <div class="flex__i--xs-6 myr-txt-r">
                  <a href="#">view all {{data.CustomerReview[0].totalReviews}} reviews</a>
                </div>
              </div>
            </div>

            <div class="myr-review">
              <div class="myr-review__pc">
                <div class="flex">
                  <div ng-if="data.CustomerReview[0]" class="flex__i--xs-12 flex__i--md-6">
                    <h3>Pro</h3>
                    <p>most helpful 4-5 star review</p>
                    <div class="myr-divider"></div>
                    <star-rating ng-if=data.CustomerReview[0] rating=data.CustomerReview[0].Pro[0].overallRating></star-rating>
                    <h2><strong>{{data.CustomerReview[0].Pro[0].title}}</strong></h2>
                    <p>{{data.CustomerReview[0].Pro[0].review}}</p>
                    <p><span class="myr-reviewer">{{data.CustomerReview[0].Pro[0].screenName}}</span> {{data.CustomerReview[0].Pro[0].datePosted | dateFormat}}</p>
                  </div>
                  <div ng-if="data.CustomerReview[0]" class="flex__i--xs-12 flex__i--md-6">
                    <h3>Con</h3>
                    <p>most helpful 1-2 star review</p>
                    <div class="myr-divider"></div>
                    <star-rating ng-if=data.CustomerReview[0] rating=data.CustomerReview[0].Con[0].overallRating></star-rating>
                    <h2><strong>{{data.CustomerReview[0].Con[0].title}}</strong></h2>
                    <p>{{data.CustomerReview[0].Con[0].review}}</p>
                    <p><span class="myr-reviewer">{{data.CustomerReview[0].Con[0].screenName}}</span> {{data.CustomerReview[0].Con[0].datePosted | dateFormat}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/core/core.controller.js"></script>
    <script src="/js/service/http.factory.js"></script>
    <script src="/js/counter/counter.component.js"></script>
    <script src="/js/carousel/img-carousel.component.js"></script>
    <script src="/js/star-rating/star-rating.component.js"></script>
    <script src="/js/filter/date.filter.js"></script>
    <script src="/js/directive/ppid-input.module.js"></script>
    <script src="/js/directive/ppid-input.directive.js"></script>
    <script src="/js/alert/alert.module.js"></script>
    <script src="/js/alert/alert.service.js"></script>
    <script src="/js/alert/alert.component.js"></script>
  </body>
</html>
