// APP
// These in a real world situation be broke into smaller modular
// partial files, as app specific or components for reusability

// CONTAINER OVERRIDE
.#{$ns}container {
  padding: 0 48px 24px;

  @media(min-width: $break-md) {
    padding: 24px;
  }
}
.#{$ns}divider {
  height: 1px;
  background-color: $greyscale-02;

  &--light {
    background-color: $greyscale-03;
  }

  &--vertical {
    min-height: 24px;
    width: 1px;
    margin: 0px 12px;
    display: inline-block;
    vertical-align: middle;
  }
}

// ITEM NAME
.#{$ns}item-name {
  width: 375px;
  margin: 0 auto 6px;
  text-align: center;
}

// CART PRICING
.#{$ns}cart-pricing {
  color: $greyscale-01;
  font-size: .75rem;

  &__price {
    font-size: 1.875rem;
  }
}

// ITEM PROMO
.#{$ns}item-promo {
  margin: 20px 0;
  padding: 18px 0;
  font-size: 1.125rem;
  text-transform: lowercase;
  color: $brand-primary;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  li {
    margin-bottom: 6px;
    &::before {
      content: attr(data-icon);
      font-size: .875rem;
      margin-right: 8px;
    }
  }
}

// CART CLASSES
.#{$ns}cart-actions {
  margin: 20px 0;
}

// STORE FIND
.#{$ns}store-find {
  display: none;

  @media(min-width: $break-md) {
    display: block;
    font-size: .75rem;
    text-align: center;
  }
}

// RETURN POLICY
.#{$ns}rpolicy {
  margin: 20px 0;

  &__return,
  &__disclaimer {
    display: inline-block;
    vertical-align: middle;
  }
  &__return {
    width: calc(60px - 4px);
    font-size: 1.25rem;
  }
  &__disclaimer {
    width: calc(100% - 60px - 8px - 25px);
    font-size: .625rem;
  }
}

// PRODUCT HIGHLIGHT
.#{$ns}prd-hl {
  margin: 30px 0;

  &__title {
    margin-bottom: 24px;
    font-size: 2.25rem;
    font-weight: 700;
  }

  &__list {
    li {
      position: relative;
      padding: 0 0 0 1em;
      font-size: .875rem;
      line-height: 1.6;

      &::before {
        content: '•';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
