// REVIEW COMPONENT
.#{$ns}overall-rating {
  margin: 16px 0;
  font-size: .875rem;
  font-weight: 700;
  color: $greyscale-01;
}
.#{$ns}review {
  padding: 14px 16px;
  background-color: $greyscale-02;

  &__pc,
  .#{$ns}divider,
  p {
    margin-bottom: 14px;
  }

  h3 {
    color: $greyscale-01;
  }

  p {
    font-size: .75rem;
  }

  .#{$ns}reviewer {
    color: $brand-tertiary;
  }
}

.#{$ns}star-review {
  display: inline-block;
  vertical-align: text-bottom;
  color: $greyscale-04;
  letter-spacing: -5px;

  .material-icons {
    font-size: 1.2rem;
  }

  &--2 {
    .material-icons:nth-child(-n+2) {
      color: $brand-primary;
    }
  }
  &--3 {
    .material-icons:nth-child(-n+3) {
      color: $brand-primary;
    }
  }
  &--4 {
    .material-icons:nth-child(-n+4) {
      color: $brand-primary;
    }
  }
  &--5 {
    color: $brand-primary;
  }
}
