// NAMESPACE
// We namespace to avoid collisions and for clarity
// It also gives us some scoping
$ns: 'myr-';


// BASE SIZING
$font-size-root: 16px;
$font-size-base: $font-size-root;
$line-height-base: 1.1;
$font-family-base: "Helvetica Neue", helvetica, arial, sans-serif;
$font-family-headline: "Helvetica Neue", helvetica, arial, sans-serif;


// BASE GRID
$container: 990px; // our max width
$gutter: 20px; // gutters = 1/2 width
$base-columns: default; // columns
$base-columns-default: 12;


// BREAKPOINTS
//breakpoints based off 16px base size
$break-xl: 80em; // 1280
$break-lg: 64em; // 1024
$break-md: 48em; // 768
$break-sm: 30em; // 480


// BRAND COLORS
$brand-primary: #c91300;
$brand-secondary: #cc0000;
$brand-tertiary: #0066cc;

// GREYSCALE
$greyscale-01: #000;
$greyscale-02: #f3f3f3;
$greyscale-03: #ccc;
$greyscale-04: #666;
$greyscale-05: #fff;

// SHADOWS / PLANES
$shadow-01: 0px 2px 3px rgba(0,0,0,0.3);
$shadow-02: 0px 5px 6px rgba(0,0,0,0.3);

// LIGATURES -- ICONS
// Resource article I wrote for css-tricks
// https://css-tricks.com/ligature-icons/
$liga-font-family: 'Material Icons';
