// DEFAULT
$btn-radius: 3px;
$btn-padding: 12px; // we math with this number below

// BUTTON
.#{$ns}btn {
  display: inline-block;
  vertical-align: middle;
  min-width: 237px;
  font-size: 1.125rem;
  font-weight: 300;
  padding: $btn-padding $btn-padding * 2;
  border-radius: $btn-radius;
  border: 1px solid $greyscale-02;
  background-color: $greyscale-02;
  color: $greyscale-04;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;

  &:hover {
    background-color: $greyscale-03;
  }

  // SIZING
  &--sm {
    padding: $btn-padding / 2 $btn-padding;
    min-width: 155px;
    font-size: .75rem;
  }

  // FULL WIDTH
  &--block {
    display: block;
    min-width: 100%;
  }
}

// BUTTON CIRCLE
.#{$ns}btn {
  &--circle {
    min-width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    position: relative;

    &::before {
      content: attr(data-icon);
      font-size: 1rem;
      line-height: .8;
    }
  }
}

// BUTTON MAP //
$btn-map: (
primary: $brand-primary,
secondary: $greyscale-01
);

@each $button, $btn in $btn-map {
  .#{$ns}btn {
    &--#{$button} {
      background-color: $btn;
      border-color: $btn;
      color: white;

      &:hover {
        background-color: transparent;
        color: $btn;
      }
    }
  }
}
